body{
    background-color: beige;
}
.container{
    text-align: center;
    margin:100px 400px;
    border: 2px solid black;
    font-size: large;
    height: 220px;
    overflow: hidden;
    background-color: antiquewhite;
    border-radius: 10px;
   
    

    
    
}
.container div{
    padding: 20px;
} 
button{
    background-color: antiquewhite;
}
